<div class="PYL_about">
  <h4>About PYL</h4>
  <p>My goal with PYL (Program Your Life) is to help people organize the things they need to do.
    Large projects require many steps that can be broken up into smaller parts.  Some components of a
    large project are more time sensitive than others.  Sometimes a person gets sick or injured and wants
    to know what smaller tasks they can accomplish.  I am going to make these tasks linked to a single person
    to start with and eventually bring in group projects using sockets.  Another thing I hope to implement
    eventually is a time calculator for average times needed to complete your daily tasks.  For those that plan
    too many things to do in a day, I want to have a warning setting to help them prioritize the list.
  </p>
  <h6>Goals to keep implementing</h6>
  <ol>
    <li>jwt token</li>
    <li>authorization on all components</li>
    <li>sub-goals linked into goal id</li>
    <li>looping until end of tree</li>
    <li>crud user read for future friends lists</li>
    <li>crud goals</li>
    <li>clean up css</li>
    <li>screen width media queries and flex</li>
    <li>Current goal by due date or base of a tree, maybe priority too</li>
    <li>time calculations</li>
    <li>goal history of completion and time taken</li>
    <li>estimated time tables per goal</li>
    <li>group tasks with sockets</li>
    <li>user search and friends list or group task list</li>
    <li>task search tree</li>
    <li>security like Argon2</li>
    <li>look into other security risks and apply</li>
    <li>success and failure graphing</li>
    <li>complete task checkbox</li>
    <li>autofill edit forms</li>
  </ol>
</div>

