/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center_div {
  display: flex;
  width: 50%;
  height: 200px;
  margin: auto;
}

mat-spinner {
  margin: auto;
  text-align: center;
}
